html,body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.odin{
    display: flex;
    margin: auto;
}
.headline{
   border-radius: 20px;
   border-style: double;
   margin-left: 500px;
   margin-right: 500px;
   text-align: center;
}
.headline{
    background-color: gray;
}
.recipes{
    display: flex;
    justify-content: center;
    align-self: center;
}